@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SFPRODISPLAYBOLD.OTF");
}

body {
  font-family: "SF Pro", sans-serif;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

/* MINISTER/PARTICIPANT */
.attend-tab-list {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.attend-tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.attend-tabs__tab--selected {
  outline: none;
  padding: 0.625rem 1.5rem;
  border-radius: 3rem;
  border: 2px solid #b88d38;
}

/* TESTIMONIAL */
.testimonial-tab {
  cursor: pointer;
}

.testimonial-tabs--selected {
  outline: none;
  border: 3px solid #f1c670;
  border-radius: 0.5rem;
  color: #757471;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab--disabled {
  color: #000;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
